<div class="d-flex flex-column flex-shrink-0 p-3 bg-body-tertiary" style="width: 280px;">
    <h4 class="ms-3">BROWSE MUSIC</h4>
  <hr>
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a [routerLink]="['homepage']" class="nav-link active" aria-current="page">
        <i class="bi bi-house-fill"></i>
        Homepage
      </a>
    </li>
    <li>
      <a [routerLink]="['song-list']" class="nav-link link-body-emphasis">
        <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
        songlist
      </a>
    </li>
    <li>
      <a [routerLink]="['playlist-list']" class="nav-link link-body-emphasis">
        <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#table"></use></svg>
        Playlists
      </a>
    </li>
    <!-- <li>
      <a href="#" class="nav-link link-body-emphasis">
        <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>
        Products
      </a>
    </li>
    <li>
      <a href="#" class="nav-link link-body-emphasis">
        <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
        Customers
      </a>
    </li> -->
  </ul>
  <hr>
  
</div>