<div class="d-flex flex-column flex-shrink-0 p-3 sidebar" style="width: 260px; min-height: 500px">
    <h5 class="ms-3">BROWSE MUSIC</h5>
    <hr />
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
            <a [routerLink]="['homepage']" routerlink="/homepage" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="nav-link link-body-emphasis">
                <i class="bi bi-house-fill"></i>
                Home
            </a>
        </li>
        <li>
            <a [routerLink]="['new']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="nav-link link-body-emphasis">
                <i class="bi bi-vinyl"></i>
                New
            </a>
        </li>
        <li>
            <a [routerLink]="['playlist-list']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="nav-link link-body-emphasis">
                <i class="bi bi-collection-play"></i>
                Playlists
            </a>
        </li>
        <li>
            <a [routerLink]="['discover']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="nav-link link-body-emphasis">
                <i class="bi bi-music-note-beamed"></i>
                Discover
            </a>
        </li>
    </ul>
    <hr />
    
    <!-- Your Playlists Section -->
    <div class="d-flex align-items-center justify-content-between">
        <p class="mb-0">Your playlists:</p>
        <button class="btn me-2" [routerLink]="['/playlist-create']"><i class="bi bi-plus-circle"></i></button>
    </div>

    <!-- List of Playlists -->
    <div *ngFor="let playlist of personalPlaylists" class="ms-3 playlists">
        <a [routerLink]="['/playlist', playlist._id]" class="">
            <p>{{ playlist.name }}</p>
        </a>
    </div>

    <!-- Add Song, Artist, and Album Buttons -->
    <div class="mt-4">
        <button class="btn btn-outline-primary me-2 w-100 mb-2" [routerLink]="['/song-create']">
            <i class="bi bi-music-note-beamed"></i> Add Song
        </button>
        <button class="btn btn-outline-info me-2 w-100 mb-2" [routerLink]="['/artist-create']">
            <i class="bi bi-person"></i> Add Artist
        </button>
        <button class="btn btn-outline-warning me-2 w-100 mb-2" [routerLink]="['/album-create']">
            <i class="bi bi-record-vinyl"></i> Add Album
        </button>
    </div>
</div>
