<header class="py-3 mb-3 border-bottom bg-danger-subtle">
  <div class="container-fluid d-grid gap-3 align-items-center" style="grid-template-columns: 1fr 2fr;">
    <div>
      <h2>Sabrina carpenter land</h2>
    </div>

    <div class="d-flex align-items-center">
      <form class="w-100 me-3" role="search">
        <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
      </form>

      <div class="flex-shrink-0 dropdown">
        <ul *ngIf="!(loggedInUser | async)" class="navbar-nav">niet ingelogd</ul>
        <ul *ngIf="loggedInUser | async as user" class="navbar-nav">ingelogd</ul>
        <ul class="dropdown-menu text-small shadow">
          <li><a class="dropdown-item" href="#">New project...</a></li>
          <li><a class="dropdown-item" href="#">Settings</a></li>
          <li><a class="dropdown-item" href="#">Profile</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="#">Sign out</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>