<header class="py-3 mb-3 border-bottom bg-danger-subtle">
  <div class="container-fluid d-grid gap-3 align-items-center" style="grid-template-columns: 1fr 2fr;">
    <div>
      <h2>Sabrina carpenter land</h2>
    </div>

    <div class="d-flex align-items-center">
      <form class="w-100 me-3" role="search">
        <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
      </form>

      <div class="flex-shrink-0 dropdown">
        <ul *ngIf="!(user)" class="navbar-nav">niet ingelogd</ul>
        <ul *ngIf="user" class="navbar-nav">ingelogd</ul>
        <div class="dropdown">
          <a href="#" class="d-flex align-items-center link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="{{user?.profileImgUrl}}" alt="" width="32" height="32" class="rounded-circle me-2">
            <strong>{{user?.name}}</strong>
          </a>
          <ul class="dropdown-menu text-small shadow">
            <li><a class="dropdown-item" href="#">New project...</a></li>
            <li><a class="dropdown-item" href="#">Settings</a></li>
            <li><a class="dropdown-item" href="#">Profile</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><button class="dropdown-item" (click)="logout()">Sign out</button></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>